/* About.module.css */
.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* prend la hauteur totale de la fenêtre de visualisation */
    background-color: #282c34;
    color: #fff;
    text-align: center;
    padding: 1rem;
    box-sizing: border-box;
}

.title {
    font-size: 3rem;
    color: #61dafb;
    margin-bottom: 1rem;
}

.description {
    font-size: 1.5rem;
}
